<ion-content class="ion-padding">
  <ion-title class="title">Recuperar Senha</ion-title>

  <div class="forgot-password-container">
    <h2 class="forgot-password-title">Esqueceu Sua Senha?</h2>
    <p class="forgot-password-text">Abaixo, digite seu e-mail cadastrado para que seja enviado os passos necessários para recuperação da sua senha.</p>

    <form #forgotPasswordForm="ngForm" (ngSubmit)="sendResetEmail()">
      <ion-item lines="none" class="email-input">
        <ion-label position="stacked">E-mail Cadastrado</ion-label>
        <ion-input 
          type="email" 
          name="email"
          [(ngModel)]="email" 
          placeholder="exemplo@exemplo.com" 
          required
          email
          #emailInput="ngModel">
        </ion-input>
      </ion-item>

      <!-- Exibir erro se o campo for inválido -->
      <ion-text color="danger" *ngIf="emailInput.invalid && emailInput.touched">
        <p>Por favor, insira um e-mail válido.</p>
      </ion-text>

      <div class="button">
        <ion-button expand="block" type="submit" class="submit-button" [disabled]="forgotPasswordForm.invalid">Enviar Código</ion-button>

        <ion-button expand="block" class="back-to-login" (click)="goToLogin()">Login</ion-button>
      </div>
    </form>

    <div class="extra-options">
      <p>Não tem uma Conta? <a (click)="createAccount()">Criar Conta</a></p>
    </div>
    
  </div>
</ion-content>
