<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
    <ion-buttons slot="end" (click)="abrirNotificacoes()">
      <ion-icon name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-categorias">

  <!-- Lista de Categorias -->
  <div class="categoria-list">
    
    <!-- Categorias de Receitas -->
    <div *ngFor="let receita of receitas" class="categoria-card" (click)="selecionarCategoria(receita.id, 'receitas')">
        <ion-icon *ngIf="receita.icone" [name]="receita.icone"></ion-icon>
        <div class="categoria-nome">{{ receita.nome }}</div>
    </div>

    <!-- Categorias de Despesas -->
    <div *ngFor="let despesa of despesas" class="categoria-card" (click)="selecionarCategoria(despesa.id, 'despesas')">
        <ion-icon *ngIf="despesa.icone" [name]="despesa.icone"></ion-icon>
        <div class="categoria-nome">{{ despesa.nome }}</div>
    </div>

    <!-- Categorias de Departamentos -->
    <div *ngFor="let departamento of departamentos" class="categoria-card" (click)="selecionarCategoria(departamento.id, 'departamentos')">
        <ion-icon *ngIf="departamento.icone" [name]="departamento.icone"></ion-icon>
        <div class="categoria-nome">{{ departamento.nome }}</div>
    </div>

    <!-- Categorias de Campanhas -->
    <div *ngFor="let campanha of campanhas" class="categoria-card" (click)="selecionarCategoria(campanha.id, 'campanhas')">
        <ion-icon *ngIf="campanha.icone" [name]="campanha.icone"></ion-icon>
        <div class="categoria-nome">{{ campanha.nome }}</div>
    </div>

    <!-- Card para adicionar nova categoria -->
    <div class="categoria-card add-category" (click)="abrirPopupAdicionarCategoria()">
      <ion-icon name="add-circle-outline"></ion-icon>
      <div class="categoria-nome">Adicionar Categoria</div>
    </div>
  </div>
</ion-content>

<!-- Barra de navegação inferior -->
<ion-footer class="nav-footer">
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="relatorios()">
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="albums-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
