<ion-content class="ion-padding">
  <ion-title class="title">Reset de Senha</ion-title>

  <div class="forgot-password-container">
    <h2 class="forgot-password-title">Resetar Senha</h2>
    <p class="forgot-password-text">Abaixo, digite seu e-mail cadastrado para que seja enviado os passos necessários
      para alteração da sua senha.</p>

    <form #forgotPasswordForm="ngForm" (ngSubmit)="sendResetEmail()">
      <ion-item lines="none" class="email-input">
        <ion-label position="stacked">E-mail Cadastrado</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email" placeholder="exemplo@exemplo.com" required email
          #emailInput="ngModel">
        </ion-input>
      </ion-item>

      <!-- Exibir erro se o campo for inválido -->
      <ion-text color="danger" *ngIf="emailInput.invalid && emailInput.touched">
        <p>Por favor, insira um e-mail válido.</p>
      </ion-text>

      <div class="button">
        <ion-button expand="block" type="submit" class="submit-button" [disabled]="forgotPasswordForm.invalid">Enviar
          Código</ion-button>

        <ion-button expand="block" class="back-to-login" (click)="goToLogin()">Voltar</ion-button>
      </div>
    </form>

  </div>
</ion-content>

<!-- Barra de navegação inferior -->
<ion-footer class="nav-footer">
  <ion-toolbar>
    <ion-buttons>

      <ion-button (click)="home()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="relatorios()">
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="categorias()">
        <ion-icon name="albums-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="perfil()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>