.configuration-content {
    --background: #00D09E;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100vh;
    overflow: hidden;
}

ion-header {
    background-color: #00D09E;
    /* Cor do cabeçalho */
    color: white;
    /* Cor do texto */
    box-shadow: none;
}

ion-toolbar {
    --background: #00D09E;
    /* Cor do fundo do toolbar */
    box-shadow: none;

    ion-title {
        color: #052224;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
}

.container {
    background-color: #F1FFF3;
    height: 75vh;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;


    ion-item {
        --background: #F1FFF3;
        --color: #333;
        margin-bottom: 20px;

        &:hover {
            --background: #e8f7f1;
        }

        ion-icon {
            color: #00cc99;
        }
    }
}

.nav-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    ion-toolbar {
        --background: #DFF7E2;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-top: 1px solid #dcdcdc;

        ion-buttons {
            display: flex;
            justify-content: space-around;
            padding: 10px 0;

            ion-icon {
                font-size: 1.6rem;
                color: #333;
            }
        }
    }
}