<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Adicionar Entrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-valores">

  <div class="adicionar-valor-container">

    <form (ngSubmit)="salvarValor()">

      <ion-item class="input-field" lines="none">
        <label for="data" class="input-label">Data</label>
        <ion-input type="date" id="data" [(ngModel)]="valor.data" name="data" required />
      </ion-item>

      <ion-item class="input-field" lines="none">
        <ion-label for="titulo" class="input-label">Título</ion-label>
        <ion-input type="text" id="titulo" [(ngModel)]="valor.titulo" name="titulo" required />
      </ion-item>

      <ion-item class="input-field" lines="none">
        <ion-label for="quantia" class="input-label">Quantia</ion-label>
        <ion-input type="number" id="quantia" [(ngModel)]="valor.quantia" name="quantia" required />
      </ion-item>

      <ion-item class="input-field" lines="none">
        <ion-label for="mensagem" class="input-label">Mensagem (opcional)</ion-label>
        <textarea id="mensagem" [(ngModel)]="valor.mensagem" name="mensagem"></textarea>
      </ion-item>

      <button type="submit">Salvar</button>
    </form>
  </div>
</ion-content>

<!-- Barra de navegação inferior -->
<ion-footer class="nav-footer">
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="swap-horizontal-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="albums-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>