<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">

  <div class="profile-header">
    <img [src]="userPhoto" alt="User Photo" />
    <h2>{{ userName }}</h2>
    <p>{{ userEmail }}</p>
  </div>

  <div class="container">

    <ion-item button (click)="goToEditProfile()" lines="none">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Editar Perfil</ion-label>
    </ion-item>

    <ion-item button lines="none" (click)="goToConfiguration()">
      <ion-icon slot="start" name="settings-outline"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-item>

    <ion-item button lines="none">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-label>Segurança</ion-label>
    </ion-item>

    <ion-item button (click)="confirmLogout()" lines="none">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-item>

  </div>

</ion-content>

<!-- Barra de navegação inferior -->
<ion-footer class="nav-footer">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToCategorias()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="relatorios()">
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToCategorias()">
        <ion-icon name="albums-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>