<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Finchurch</ion-title>
    <ion-buttons slot="end">
      <ion-avatar (click)="goToProfile()">
        <img [src]="userPhoto" alt="Foto do usuário" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <!-- Saudação e saldo total -->
  <ion-card class="greeting-card">
    <ion-card-header>
      <ion-card-title class="welcome-title">Olá, Bem-Vindo De Volta!</ion-card-title>
    </ion-card-header>
    <ion-card-content class="total-saldo">
      <div>
        <h1>{{ totalEntradas | currency:'BRL' }}</h1>
        <ion-progress-bar value="0.3"></ion-progress-bar>
        <p>30% De Suas Despesas, Parece Bom</p>
      </div>
    </ion-card-content>
  </ion-card>
  
  <!-- Histórico de Entradas e Saídas -->
  <ion-card class="card-secondary">

    <div class="periodo-selecao">
      <ion-button class="period-button" fill="clear">Diário</ion-button>
      <ion-button class="period-button" fill="clear">Mensal</ion-button>
      <ion-button class="period-button" fill="clear">Anual</ion-button>
    </div>


  </ion-card>

</ion-content>

<!-- Barra de navegação inferior -->
<ion-footer class="nav-footer">
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="relatorios()">
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="categorias()">
        <ion-icon name="albums-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="perfil()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>