<ion-header>
  <ion-toolbar>
    <ion-title>Gerar Relatórios</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-relatorios">

  <ion-card class="relatorios-list">
    <ion-card-header class="header-title">
      <ion-card-title>Selecione um Relatório</ion-card-title>
    </ion-card-header>

    <!-- Iteração diretamente com ion-item -->
    <ion-item *ngFor="let subcategoria of subcategorias" >
      <ion-label>
        {{ subcategoria.nome }}
      </ion-label>
      <ion-button slot="end" (click)="gerarRelatorio(subcategoria)">
        Gerar Relatório
      </ion-button>
    </ion-item>

  </ion-card>

</ion-content>

<!-- Barra de navegação inferior -->
<ion-footer class="nav-footer">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="home()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button >

      <ion-button (click)="relatorios()">
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="categorias()">
        <ion-icon name="albums-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="perfil()">
        <ion-icon name="person-outline" (click)="perfil()"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<!-- Toast para feedback de sucesso -->
<ion-toast
  *ngIf="showToast"
  [message]="'Relatório gerado com sucesso!'"
  duration="2000"
  position="top"
  color="success"
  (ionToastDidDismiss)="showToast = false">
</ion-toast>
