.resumo-page {
    --background: #00d1a0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    padding: 0;
  }
  
  
  ion-header {
    background-color: #00D09E; /* Cor do cabeçalho */
    color: white; /* Cor do texto */
    box-shadow: none;
  }
  
  ion-toolbar {
    --background: #00D09E; /* Cor do fundo do toolbar */
    box-shadow: none;
  
    ion-title {
        color: #052224;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
  }
  
  .saldo-header {
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .saldo-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
  
    .titulo {
        font-size: 16px; /* Tamanho do título */
        color: #093030; /* Cor do título */
        font-family: 'Poppins', sans-serif;
    }
  
    .valor {
        font-size: 24px; /* Tamanho do valor, maior para destaque */
        font-weight: bold; /* Negrito para os valores */
        color: #ffffff; /* Cor do valor */
        font-family: 'Poppins', sans-serif;
    }
  
    .despesa-titulo .valor {
        color: #0068FF; /* Cor do valor das despesas */
        font-family: 'Poppins', sans-serif;
    }
  
    ion-icon {
        margin-right: 8px; /* Espaçamento entre o ícone e o texto */
        font-size: 20px; /* Tamanho do ícone */
        color: #052224; /* Cor do ícone */
    }
  }
  
  
  .historico-list {
  
    padding-top: 20px;
    background-color: #F1FFF3;
    height: 65%; 
    width: 100%; 
    max-width: 500px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 20px;
    gap: 10px; /* Espaço entre os cards */
  }
  
  .add-button {
    --color: #093030;
    --border-radius: 36px;
    font-weight: bold;
    --background: #00D09E;
    width: 70%; /* Aumentado para ficar mais proporcional na tela menor */
    margin: 2px auto; /* Menos margem */
    height: 45px; /* Levemente aumentado */
    margin-top: 70%;
  }
  
  
  .nav-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  
    ion-toolbar {
        --background: #DFF7E2;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-top: 1px solid #dcdcdc;
  
        ion-buttons {
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
  
            ion-icon {
                font-size: 1.6rem;
                color: #333;
            }
        }
    }
  }